html {
  margin: 0;
}

body {
  top: 0px;
  margin: 0;
}

h1 {
  margin-top: 0;
}

.page-header {
  background: #CC0000;
}

.wide-input {
  width: 300px;
}

.fixed-button {
  position: fixed;
  float: right;
  bottom: 20px;
  right: 20px;
}
