<!DOCTYPE html>
<html>
<head>
	<title>FerretList</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylsheet">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="javascripts/app.js"></script>
</head>
<body ng-app="ferretList" ng-controller="MainCtrl">
	<div class="row page-header">
		<div class="col-md-3">
			<h1>FerretList</h1>
		</div>
	</div>
	<div class="container">
		<span class="itemSpan" ng-repeat="item in items | orderBy : 'date'" style="cursor:pointer" ng-click="openModal(item)">
			<img ng-src="{{getImageUrl(item.photo}]}" alt="Image Not Found" >
			<div class="itemPrice">{{ item.price }}</div></a>
			<div class="itemLocation">{{ item.location }}</div></a>
		</span>
	</div>
</body>
</html>
